<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css">
    
    <div class="text-center">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <h1 class="card-header">Employee Register Portal</h1>
    </div>
    </head>

<div class="container">
    <div class="row">
    <div class="col-12 mb-1 mt-3">
        <div class="w-100 row contDiv">
            <div class="col-6">
                <img src="~/Images/Lims-banner.png" class="w-100" />
            </div>
            <div class="col-6">
                <div class="align-middle contText">
                <h4 style="text-align:left">Please choose your department.</h4>
               <div class="container">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" style="color:darkblue" data-toggle="dropdown">Department
    <span></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">LIMS</a></li>
      <li><a href="#">GDM</a></li>
      <li><a href="#">GST</a></li>
      <li><a href="#">EIM</a></li>
    </ul>
  </div>
</div>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>
</html>