<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 56px;
  left: 0;
  background-color: #151B54;
  overflow-x: hidden;
  padding-top: 30px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #7FFFD4;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: #000000;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #FFFF00;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

</style>
</head>
<body>

<div class="sidenav">
  <button class="dropdown-btn">Tasks 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <li class="nav-item">
    <a class="nav-link text-black-50" asp-area="" asp-controller="Employee" asp-action="Data">Submitted Tasks</a>
</li>
  </div>
  <div>
    <li class="nav-item">
     <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="About">About</a>
</li>
</div> 
</div>


<div class="main">
  @model EmployeeRegister.Models.ITaskManager

@{
    ViewData["Title"] = "Task Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <img class="mainImage " src="~/Images/Caliber Images/Caliber blue Logo.png"/></p>
<div class="row align-content-lg-center">
    <div class="col-md-4">
        <form asp-action="TaskManager">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="@Model.ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="@Model.Task" class="form-control" />
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePeriod" class="control-label"></label>
                <input asp-for="@Model.TimePeriod" class="form-control" />
                <span asp-validation-for="TimePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</div>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>

</body>
</html> 
